/* App.css */

.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-top: 20px
}

label {
  font-size: calc(10px + 1vmin);
  margin-top: 10px;
}


.Leaderboard-table-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.Leaderboard-table {
  width: 90vw;
  margin: 20px 0;
  border-collapse: collapse;
}

.Leaderboard-table table {
  border: 1px white solid;
}

.Leaderboard-table thead  {
  border: 1px white solid;
  font-size: calc(10px + 1vmin);
}

.Leaderboard-table thead th  {
  font-size: calc(10px + 1vmin);
  padding:10px
}
.Leaderboard-table tbody tr  {
  border: 1px white solid;
}

.Leaderboard-table tbody td  {
  padding:5px;
  font-size: calc(10px + .5vmin);
}

.Leaderboard-table tbody td a {
  color: #61dafb;
}

h1 {
  font-size: 3rem;
  margin-bottom: 20px;
  color: #61dafb;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

button {
  background-color: #61dafb;
  color: #282c34;
  border: none;
  padding: 10px 20px;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  margin-bottom: 20px;
  margin-top: 20px;
}

button:hover {
  background-color: #4CAF50;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

button:active {
  transform: scale(0.95);
}


