button {
  color: #282c34;
  border: none;
  width: 7vw;
  height: 40px;
  padding: 10px;
  font-size: .7rem;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  margin-bottom: 20px;
  margin-top: 20px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-default {
  background-color: #61dafb;
}


.btn-green {
  background-color: #4caf50;
}

button:hover {
  background-color: #4caf50;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

button:active {
  transform: scale(0.95);
}